body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  margin-top:   0  2px   5px     12px   ;
}

p {
  background:
    center  / contain   no-repeat   url("../../an/example/url.svg"),
    #eee 35%   url("/another/example url/with   spaces.png");
}

aside {
  box-shadow:
    -5px -5px 30px 5px red,
    5px 5px 30px 5px blue
    ;
}

div {
  margin: 0 calc( 0.5 * (var(--line-height) / 2 + (2em - 1px) ) );
}
